{
    "swagger": "2.0",
    "info": {
        "title": "UBT API",
        "description": "UBT项目接口说明",
        "version": "1.0.0"
    },
    "host": "t.u2wifi.cn",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/oauth2/access_token": {
            "post": {
                "summary": "用户登录",
                "description": "用户使用用户名及密码进行登录，获取调用接口的access_token",
                "tags": [
                    "Login"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "应用标识",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "000017953450251798098136"
                        ]
                    },
                    {
                        "name": "client_secret",
                        "in": "formData",
                        "description": "应用密钥",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "08E9EC6793345759456CB8BAE52615F3"
                        ]
                    },
                    {
                        "name": "grant_type",
                        "in": "formData",
                        "description": "授权类型,<br/> 首次登录使用'password', token过期之后使用refresh token申请新token时使用'refresh_token'",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "password",
                            "refresh_token"
                        ]
                    },
                    {
                        "name": "refresh_token",
                        "in": "formData",
                        "description": "刷新令牌，grant_type='refresh_token' 时必填",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "用户名, grant_type='password' 时必填",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "密码。 用户名, grant_type='password' 时必填 <br/>注意：密码字段采用特殊规则生成，详见密码类型字段的说明. <br/>如果密码类型为1或2，不校验picId和varificationCode字段，不推荐使用这种方式。 <br/>如果密码类型为3（默认），则要求提供picId和varificationCode字段。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "language",
                        "in": "formData",
                        "description": "国际化字段, 1: 英文, 2: 中文",
                        "required": false,
                        "type": "string",
                        "format": "int32",
                        "default": 2,
                        "enum": [
                            1,
                            2
                        ]
                    },
                    {
                        "name": "password_type",
                        "in": "formData",
                        "description": "密码类型，默认为3。<br/> 采用不同密码类型，密码的生成规则为：<br/> 1：明文P。<br/> 2：安全密码。明文P经过MD5运算的结果，即MD5(P)；<br/> 3：验证码保护的安全密码。MD5( MD5(P), PID )，其中PID为验证码的标识。",
                        "required": false,
                        "type": "string",
                        "format": "int32",
                        "default": 3,
                        "enum": [
                            1,
                            2,
                            3
                        ]
                    },
                    {
                        "name": "picId",
                        "in": "formData",
                        "description": "验证码图片的标识",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "varificationCode",
                        "in": "formData",
                        "description": "用户输入的验证码",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "token",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/access_token/org_mgr": {
            "post": {
                "summary": "超级管理员越权令牌",
                "description": "超级管理员越权时，需拿到机构管理员的访问令牌",
                "tags": [
                    "Login"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得 注：通过HTTP认证头携带时省略。注：对应角色---超级管理员。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "token",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api2/organizations": {
            "get": {
                "summary": "获取公司列表",
                "description": "获取公司列表",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "int"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的名称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "公司状态。",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/Orresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建公司",
                "description": "创建公司",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "organizationinfo",
                        "in": "body",
                        "description": "分组信息。(Raw)",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Organizationinfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/ResultOrg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api2/organizations/{ID}": {
            "delete": {
                "summary": "删除指定的公司",
                "description": "删除指定的公司",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "公司标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/ResultDelorg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新指定公司的信息",
                "description": "更新指定公司的信息",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "公司标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "organizationinfo",
                        "in": "body",
                        "description": "公司信息。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Organizationinfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/Organization"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取指定公司的信息",
                "description": "获取指定公司的信息",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "公司标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/Organization"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api2/organizations/this": {
            "get": {
                "summary": "获取当前公司的信息",
                "description": "获取当前公司的信息",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/Organization"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新当前公司的信息",
                "description": "更新当前公司的信息",
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "organizationinfo",
                        "in": "body",
                        "description": "公司信息。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Organizationinfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/Organization"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/tags": {
            "get": {
                "summary": "获取分组列表",
                "description": "获取分组列表",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的名称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "shared",
                        "in": "query",
                        "description": "分组是否共享。该参数可以不要",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tagresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建分组",
                "description": "创建分组",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tagInfo",
                        "in": "body",
                        "description": "分组信息。(Raw)",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/TagInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tags"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/tags/{ID}": {
            "delete": {
                "summary": "删除分组",
                "description": "删除指定的分组",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/ResultDelorg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新分组信息",
                "description": "更新指定的分组信息",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tagInfo",
                        "in": "body",
                        "description": "分组信息。(Raw)",
                        "required": false,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/TagInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tags"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取分组信息",
                "description": "获取指定分组的信息",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tags"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/resource_tags": {
            "get": {
                "summary": "查询资源的分组列表",
                "description": "查找指定资源标识的分组",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resource_type",
                        "in": "query",
                        "description": "资源类型。表示查询指定资源类型的分组列表。",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "resource_id",
                        "in": "query",
                        "description": "资源标识。与resource_type二选一。查询指定资源的分组列表。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resourceresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "对资源添加分组",
                "description": "对指定资源打上分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resource_type",
                        "in": "query",
                        "description": "资源类型名。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resource_id",
                        "id": "query",
                        "description": "资源标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tag_id",
                        "in": "query",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resourceresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除资源分组",
                "description": "删除指定资源的一个分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resource_id",
                        "in": "query",
                        "description": "资源标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tag_id",
                        "in": "query",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resourceresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/resources_tags": {
            "put": {
                "summary": "对批量资源添加分组",
                "description": "对指定的批量资源打上指定分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tag_id",
                        "in": "query",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "资源对应ID。",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "$ref": "#/definitions/ResourceIds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resources_multiple_tags_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "查询批量资源的分组列表",
                "description": "查询批量资源的分组列表",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "资源对应ID。",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "$ref": "#/definitions/ResourceIds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resources_multiple_tags_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/tags/{ID}/resources": {
            "get": {
                "summary": "查询分组的所有资源",
                "description": "查找指定分组的资源。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resource_type",
                        "in": "query",
                        "description": "资源类型。表示查询指定资源类型的分组列表。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "分组标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/ResponseIdResource"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/resources_multiple_tags": {
            "post": {
                "summary": "对批量资源添加批量分组",
                "description": "对指定的批量资源打上指定批量分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resourceTags",
                        "in": "body",
                        "description": "资源对应ID和对应分组ID。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ResourceTagsId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resources_multiple_tags_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "删除批量资源的批量分组",
                "description": "删除指定的批量资源上指定的批量分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resourceTags",
                        "in": "body",
                        "description": "资源对应ID和对应分组ID。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ResourceTagsId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resources_multiple_tags_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/device_tags": {
            "get": {
                "summary": "获取设备分组列表",
                "description": "获取资源类型为设备的分组列表。",
                "tags": [
                    "Tags"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/ResponseDeviceTagInfo"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices": {
            "get": {
                "summary": "获取设备列表",
                "description": "获取设备列表。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的设备名称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "online",
                        "in": "query",
                        "description": "是否在线",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "site_id",
                        "in": "query",
                        "description": "要查找的车辆标识",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "site_name",
                        "in": "query",
                        "description": "要查找的车辆名称",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "要查找为此机型的设备",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "serial_number",
                        "in": "query",
                        "description": "要查找的设备序列号",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "要查找的地址",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "business_state",
                        "in": "query",
                        "description": "业务状态 0：建设 1：投运 2：故障 3：检修 （查询多个状态时之间用“，”逗号隔开。如“1,0”“1,2”）",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建设备",
                "description": "创建设备",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "create_site",
                        "in": "query",
                        "description": "若create_site=1 且$DeviceInfo里面无车辆信息，自动创建车辆，若create_site=0不会自动创建车辆。",
                        "required": true,
                        "type": "integer",
                        "default": 1
                    },
                    {
                        "name": "deviceinfo",
                        "in": "body",
                        "description": "设备信息.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/list": {
            "post": {
                "summary": "获取设备列表",
                "description": "获取设备列表。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的设备名称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "online",
                        "in": "query",
                        "description": "是否在线",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "site_id",
                        "in": "query",
                        "description": "要查找的车辆标识",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "site_name",
                        "in": "query",
                        "description": "要查找的车辆名称",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "要查找为此机型的设备",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "serial_number",
                        "in": "query",
                        "description": "要查找的设备序列号",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "要查找的地址",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "business_state",
                        "in": "query",
                        "description": "业务状态 0：建设 1：投运 2：故障 3：检修 （查询多个状态时之间用“，”逗号隔开。如“1,0”“1,2”）",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "设备资源ID，可填写多个。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ResourceIds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/overview": {
            "post": {
                "summary": "获取设备列表",
                "description": "通过分组获取分组下的列表时使用此API。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "设备资源ID，可填写多个。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ResourceIds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/batch_get": {
            "post": {
                "summary": "获取多个车辆下的设备列表",
                "description": "获取多个车辆下的设备列表。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的设备名称。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "online",
                        "in": "query",
                        "description": "是否在线",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "plc_id",
                        "in": "query",
                        "description": "是否是设备（plc_id=0为设备）",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "要查找为此机型的设备",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "serial_number",
                        "in": "query",
                        "description": "要查找的设备序列号",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "要查找的地址",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "business_state",
                        "in": "query",
                        "description": "业务状态 0：建设 1：投运 2：故障 3：检修 （查询多个状态时之间用“，”逗号隔开。如“1,0”“1,2”）",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "车辆资源ID，可填写多个。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ResourceIds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/batch_add": {
            "post": {
                "summary": "批量创建设备",
                "description": "批量创建设备。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "create_site",
                        "in": "query",
                        "description": "若携带此参数且值为1则会为每一个设备创建一个默认的车辆，否则创建无车辆的设备",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "file_id",
                        "in": "query",
                        "description": "批量导入数据文件",
                        "requird": true,
                        "type": "string"
                    },
                    {
                        "name": "publicAttribute",
                        "in": "body",
                        "description": "设备公共属性",
                        "requird": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/PublicAttribute"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/batch_delete": {
            "post": {
                "summary": "批量删除设备",
                "description": "批量删除设备。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "设备资源ID，可填写多个。",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/ResourceIds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/{ID}": {
            "delete": {
                "summary": "删除设备",
                "description": "删除设备。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "设备标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新设备信息",
                "description": "更新设备信息。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "设备标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cancel_site",
                        "in": "query",
                        "description": "cancel_site =1 则将此设备移除之前所在车辆",
                        "requeired": false,
                        "type": "string"
                    },
                    {
                        "name": "deviceinfo",
                        "in": "body",
                        "description": "设备信息.",
                        "required": true,
                        "type": "object",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取设备信息",
                "description": "获取设备信息。",
                "tags": [
                    "Devices"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "设备标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devices"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites": {
            "get": {
                "summary": "获取车辆列表",
                "description": "获取车辆列表。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的名称。",
                        "requird": false,
                        "type": "string"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "description": "要查找的地址。",
                        "requird": false,
                        "type": "string"
                    },
                    {
                        "name": "online",
                        "in": "query",
                        "description": "是否在线。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "has_gateway",
                        "in": "query",
                        "description": "是否有设备。",
                        "requird": false,
                        "type": "boolean"
                    },
                    {
                        "name": "business_state",
                        "in": "query",
                        "description": "业务状态.",
                        "requird": false,
                        "type": "string"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "requird": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建车辆",
                "description": "创建车辆。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "siteInfo",
                        "in": "body",
                        "description": "车辆信息",
                        "required": true,
                        "type": "object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/list": {
            "post": {
                "summary": "获取车辆列表",
                "description": "通过分组获取分组下的列表时使用此API。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "游标。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "要查找的名称。",
                        "requird": false,
                        "type": "string"
                    },
                    {
                        "name": "online",
                        "in": "query",
                        "description": "是否在线。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "has_gateway",
                        "in": "query",
                        "description": "是否有设备。",
                        "requird": false,
                        "type": "boolean"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "告警产生的起始时间戳，单位秒，标准UTC时间。",
                        "requird": false,
                        "type": "integer"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "对应资源ID",
                        "required": true,
                        "type": "array"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/list/device_alias": {
            "post": {
                "summary": "批量转换设备列表",
                "description": "批量转换设备的别名。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/overview": {
            "post": {
                "summary": "获取车辆列表",
                "description": "通过分组获取分组下的列表时使用此API。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次请求返回的条目数量。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "resourceIds",
                        "in": "body",
                        "description": "资源对应ID。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/{ID}": {
            "delete": {
                "summary": "删除车辆",
                "description": "删除指定的车辆。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "车辆标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "delete_all",
                        "in": "query",
                        "description": "为1时删除车辆下所有的设备。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新指定车辆的信息",
                "description": "更新指定车辆的信息。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "车辆标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "siteInfo",
                        "in": "body",
                        "description": "车辆信息",
                        "required": true,
                        "type": "object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取指定车辆的信息",
                "description": "获取指定车辆的信息。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "车辆标识。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/count/{ID}": {
            "get": {
                "summary": "获取指定车辆的设备总数信息",
                "description": "获取指定车辆的设备总数信息。",
                "tags": [
                    "Sites"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "车辆标识。",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sites"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/content_sync/point": {
            "get": {
                "summary": "获取发布点。",
                "description": "获取发布点。",
                "tags": [
                    "Publish"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "OAuth2授权后获得。注：通过HTTP认证头携带时省略。",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oid",
                        "in": "query",
                        "description": "公司标识。仅系统用户在调用时可以指定，默认为与access_token关联的用户所属公司相同。",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "verbose",
                        "in": "query",
                        "description": "信息详细级别。",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/Publish"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
[...]
