swagger: "2.0"
info:
  title: UBT API
  description: UBT项目接口说明
  version: 1.0.0
host: t.u2wifi.cn
schemes:
  - http
basePath: /
consumes:
  - application/json
produces:
  - application/json
paths:
  /oauth2/access_token:
    post:
      summary: 用户登录
      description: 用户使用用户名及密码进行登录，获取调用接口的access_token
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: client_id
          in: formData
          description: 应用标识
          required: true
          type: string
          enum:
            - 000017953450251798098136
        - name: client_secret
          in: formData
          description: 应用密钥
          required: true
          type: string
          enum:
            - 08E9EC6793345759456CB8BAE52615F3
        - name: grant_type
          in: formData
          description: "授权类型,<br/> 首次登录使用'password', token过期之后使用refresh token申请新token时使用'refresh_token'"
          required: true
          type: string
          enum:
            - password
            - refresh_token
        - name: refresh_token
          in: formData
          description: "刷新令牌，grant_type='refresh_token' 时必填"
          required: false
          type: string
        - name: username
          in: formData
          description: "用户名, grant_type='password' 时必填"
          required: false
          type: string
        - name: password
          in: formData
          description: "密码。 用户名, grant_type='password' 时必填 <br/>注意：密码字段采用特殊规则生成，详见密码类型字段的说明. <br/>如果密码类型为1或2，不校验picId和varificationCode字段，不推荐使用这种方式。 <br/>如果密码类型为3（默认），则要求提供picId和varificationCode字段。"
          required: false
          type: string
        - name: language
          in: formData
          description: "国际化字段, 1: 英文, 2: 中文"
          required: false
          type: string
          format: int32
          default: 2
          enum:
            - 1
            - 2
        - name: password_type
          in: formData
          description: "密码类型，默认为3。<br/> 采用不同密码类型，密码的生成规则为：<br/> 1：明文P。<br/> 2：安全密码。明文P经过MD5运算的结果，即MD5(P)；<br/> 3：验证码保护的安全密码。MD5( MD5(P), PID )，其中PID为验证码的标识。"
          required: false
          type: string
          format: int32
          default: 3
          enum:
            - 1
            - 2
            - 3
        - name: picId
          in: formData
          description: 验证码图片的标识
          required: false
          type: string
        - name: varificationCode
          in: formData
          description: 用户输入的验证码
          required: false
          type: string
      responses:
        "200":
          description: token
          schema:
            $ref: "#/definitions/Token"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /api/access_token/org_mgr:
    get:
      summary: 超级管理员越权令牌
      description: 超级管理员越权时，需拿到机构管理员的访问令牌
      parameters:
        - name: access_token
          in: query
          description: OAuth2授权后获得
          required: true
          type: string
        - name: oid
          in: query
          description: 公司标识。
          required: true
          type: string
      responses:
        "200":
          description: token
          schema:
            $ref: "#/definitions/Token"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
definitions:
  Token:
    properties:
      access_token:
        type: string
        description: 访问令牌
      refresh_token:
        type: string
        description: 刷新令牌
      expires_ins:
        type: integer
        description: 过期时间(秒)
  Organization:
      properties:
        _id:
          type: string
          description: 机构标识
        name:
          type: string
          description: 机构名称
        website:
          type: string
          description: 机构主页
        email:
          type: string
          description: 机构拥有者邮箱
        state:
          type: string
          description: 状态
        approveTime:
          type: integer
          description: 审核通过时间, UnixTime
        TEL:
          type: integer
          description: 电话号码
        fax:
          type: string
          description: 传真号码
        address:
          type: string
          description: 地址
        owner:
          type: string
          description: 拥有者标识
        creator:
          type: string
          description: 创建者用户名
        createTime:
          type: integer
          description: 创建时间, UnixTime
        updateTime:
          type: integer
          description: 更新时间, UnixTime
  Error:
    properties:
      request:
        type: string
      error:
        type: string
      error_code:
        type: integer
